*{padding: 0;margin: 0;
}
header{height: 90px;width: 100%;position: absolute;margin-top: 0px;
}
header a{color: whitesmoke;text-decoration: none;border: none;
}
header a:hover{text-decoration: underline;
}
header img{position: absolute;left: 2vw;top: 15px;
}
header ul{position: absolute;left: 10vw;top: 0;line-height: 90px;
}
header li{display:inline;margin-right: 5vw;font-size: 22px;
}
header p{position: absolute;right: 5vw;top: 0;line-height: 90px;display: inline;font-size: 25px; 
}
main{background-image: url(image/p0.png);width: 100%;
}

.home{background-image:url(image/a1.png);background-repeat: no-repeat;background-position: center;padding: 390px 0px 200px;background-size: cover;
}
.h1{margin-left: 10vw;border-radius: 20px;margin-top: 100px;margin-bottom: 0px;font-size: 25px;color: whitesmoke;
}
.h1 h1{margin-left: 12vw;margin-top: -140px;
}
.h1 p {
    margin-left: 10vw;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    color: whitesmoke;
    background-color: gray;
    padding: 30px 50px;
    margin-right: 15vw;
    opacity: 0; /* 初始时隐藏 */
    transition: opacity 0.5s; /* 添加淡入淡出过渡效果，持续时间为0.5秒 */
}

section.h1:hover p {
    opacity: 1; /* 鼠标悬停时显示 */
}

.h2{margin-left: 10vw;border-radius: 20px;margin-top: 0px;margin-bottom: 0px;font-size: 25px;color: whitesmoke;
}
.h2 img{margin-left: 70vw;}
.h2 h1{margin-left: 60vw;margin-top: -140px;
}
.h2 p {
    margin-left: 5vw;
    margin-right: 30vw;
    border-radius: 20px;
    margin-top: -50px;
    margin-bottom: 0px;
    font-size: 25px;
    color: whitesmoke;
    background-color: gray;
    padding: 30px 50px;
    opacity: 0; /* 初始时隐藏 */
    transition: opacity 0.5s; /* 添加淡入淡出过渡效果，持续时间为0.5秒 */
}

section.h2:hover p {
    opacity: 1; /* 鼠标悬停时显示 */
}


.h3{margin-left: 10vw;border-radius: 20px;margin-top: 0px;margin-bottom: 0px;font-size: 25px;color: whitesmoke;
}
.h3 h1{margin-left: 1vw;
}
.h3 p {
    margin-left: 12vw;
    margin-right: 20vw;
    border-radius: 20px;
    margin-top: -180px;
    margin-bottom: 0px;
    font-size: 25px;
    color: whitesmoke;
    background-color: gray;
    padding: 30px 50px;
    opacity: 0; /* 初始时隐藏 */
    transition: opacity 0.5s; /* 添加淡入淡出过渡效果，持续时间为0.5秒 */
}

section.h3:hover p {
    opacity: 1; /* 鼠标悬停时显示 */
}

.h4{margin-left: 45vw;border-radius: 20px;margin-top: 0px;margin-bottom: 0px;font-size: 25px;color: whitesmoke;padding-bottom: 150px;
}
.h4 h1{margin-left: 8px;margin-bottom: 0px;
}
.h4 ul{position: absolute;margin-top: 50px;margin-left: -215px;
}
.h4 li{display: inline;margin-right: 5vw;font-size: 25px;
}
.h4 a{text-decoration: none;border: 1px solid whitesmoke;padding: 10px 20px;border-radius: 10px;color: whitesmoke;
}
.h4 a:hover{text-decoration: underline;
}
footer{background-color: rgb(65, 65, 65);padding-top: 30px;padding-bottom: 20px;color: whitesmoke;width: 100%;
}
footer p{margin-left: 40vw;
}
footer h3{margin-left: 30vw;margin-top: -8px;
}

section.p0{margin-left: 15vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-bottom: 100px;padding-top: 100px;margin-right: 20vw;
}
.p0 a {text-decoration: none;color: whitesmoke;
}
.p0 a:hover{text-decoration: underline;
}
.p0 h1{font-size: 40px;color: whitesmoke;margin-top: -30px;
}
.p0 h2{font-size: 25px;color: whitesmoke;
}
.p0 h3{font-size: 20px;color: whitesmoke;
}







.p1{margin-left: 10vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-top: 100px;padding-bottom: 100px;
}
.p1 a {text-decoration: none;color: whitesmoke;
}
.p1 a:hover{text-decoration: underline;
}
.p1 p {color: whitesmoke;font-size: 40px;
}
.p1 h1{font-size: 30px;
}


.p2{margin-left: 10vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-bottom: 100px;
}
.p2 a {text-decoration: none;color: whitesmoke;
}
.p2 a:hover{text-decoration: underline;
}
.p2 p {color: whitesmoke;font-size: 40px;
}
.p2 h1{font-size: 30px;
}

.p3{margin-left: 15vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-bottom: 100px;padding-top: 100px;margin-right: 20vw;
}
.p3 a {text-decoration: none;color: whitesmoke;
}
.p3 a:hover{text-decoration: underline;
}
.p3 p {color: whitesmoke;font-size: 20px;margin-left: 180px;margin-top: -30px;
}
.p3 h1{font-size: 30px;
}

.p4{margin-left: 15vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-bottom: 100px;padding-top: 100px;margin-right: 20vw;
}
.p4 a {text-decoration: none;color: whitesmoke;
}
.p4 a:hover{text-decoration: underline;
}
.p4 p {color: whitesmoke;font-size: 30px;margin-left: 180px;margin-top: -30px;
}
.p4 h2{margin-left: 190px;
}

.menu{
    display: none;
}
/*  */
@media screen and (max-width:768px){
    header ul{display:none}
    header h1{left:50%;transform: translateX(-50%);}
    header p{display: none;}
    header a{position: relative;left: 42%;}
    .h1 h1{margin-left: 30vw;
    }
    .h1 p {
        margin-top: 80px;
        font-size: 20px;
    }
    .h2 img{margin-left: 0vw;}
    .h2 h1{margin-left: 30vw;margin-top: -140px;
    }
    .h2 p {
    margin-left: 5vw;
    margin-right: 30vw;
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 20px;}
    .h3 h1{margin-left: 1vw;
    }
    .h3 p {
        margin-left: 35vw;
        margin-top: -180px;
        font-size: 20px;
    }
    .h4{margin-left: 35vw;
    }
    .h4 ul{margin-left: -150px;
    }
    .p2 h2{margin-right: 10vw;
    }
    .menu{
        display: block;
        background-color: transparent;
        color: whitesmoke;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
}
