*{padding: 0;margin: 0;
}
header{height: 90px;width: 100%;position: absolute;margin-top: 0px;
}
header a{color: whitesmoke;text-decoration: none;border: none;
}
header a:hover{text-decoration: underline;
}
header img{position: absolute;left: 2vw;top: -1px;
}
header ul{position: absolute;left: 15vw;top: 0px;line-height: 100px;
}
header li{display:inline;margin-right: 7vw;font-size: 27px;
}

main{background-image: url(image/p0.png);width: 100%;
}


.main{background-image:url(image/a2.png);background-repeat: no-repeat;padding: 105px 0px 0px;background-size: cover;
}

.home{background-image:url(image/a1.png);background-repeat: no-repeat;background-position: center;padding: 590px 0px 0px;background-size: cover;
}

.h0{background-color: whitesmoke;padding: 30px 0px 30px;
}
.h0 p{text-align: center;font-size: 35px;
}
.h0 h5{margin-left: 55vw;font-size: 25px;
}


.h1{margin-left: 10vw;border-radius: 20px;margin-top: 100px;margin-bottom: 0px;font-size: 25px;color: whitesmoke;
}
.h1 h1{margin-left: 12vw;margin-top: -140px;
}
.h1 p {
    margin-left: 10vw;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    color: whitesmoke;
    background-color: gray;
    padding: 30px 50px;
    margin-right: 15vw;
    opacity: 0; /* 初始时隐藏 */
    transition: opacity 0.5s; /* 添加淡入淡出过渡效果，持续时间为0.5秒 */
}

section.h1:hover p {
    opacity: 1; /* 鼠标悬停时显示 */
}

.h2{margin-left: 10vw;border-radius: 20px;margin-top: 0px;margin-bottom: 0px;font-size: 25px;color: whitesmoke;
}
.h2 img{margin-left: 70vw;}
.h2 h1{margin-left: 60vw;margin-top: -140px;
}
.h2 p {
    margin-left: 5vw;
    margin-right: 30vw;
    border-radius: 20px;
    margin-top: -50px;
    margin-bottom: 0px;
    font-size: 25px;
    color: whitesmoke;
    background-color: gray;
    padding: 30px 50px;
    opacity: 0; /* 初始时隐藏 */
    transition: opacity 0.5s; /* 添加淡入淡出过渡效果，持续时间为0.5秒 */
}
section.h2:hover p {
    opacity: 1; /* 鼠标悬停时显示 */
}


footer{background-color: rgb(65, 65, 65);padding-top: 30px;padding-bottom: 20px;color: whitesmoke;width: 100%;
}
footer h3{text-align: center;
}
footer ul{text-align: center;margin-bottom: 30px;
}
footer li{display: inline;margin-right: 2vw;font-size: 25px;
}
footer a{text-decoration: none;border: 1px solid whitesmoke;padding: 10px 20px;border-radius: 10px;color: whitesmoke;
}
footer a:hover{text-decoration: underline;
}



.p0{padding-bottom: 100px;padding-top: 100px;
}
.p0 p {color: whitesmoke;font-size: 30px;text-align: center;padding: 10px 500px 10px;
}
.p0 h1 {color: whitesmoke;font-size: 45px;text-align: center;
}
.p0 h2 {color: whitesmoke;text-align: center;
}
.p0 a {text-decoration: none;color: whitesmoke;font-size: 40px;
}
.p0 a:hover{text-decoration: underline;
}


.p1{color: whitesmoke;padding-top: 100px;padding-bottom: 100px;
}
.p1 a {text-decoration: none;color: whitesmoke;font-size: 35px;
}
.p1 a:hover{text-decoration: underline;
}
.p1 h1{color: whitesmoke;font-size: 40px;text-align: center;
}
.p1 h2{color: whitesmoke;font-size: 35px;text-align: center;
}
.p1 p{color: whitesmoke;font-size: 45px;text-align: center;
}
.p1 h3{color: whitesmoke;text-align: center;
}




.p3{margin-left: 15vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-bottom: 100px;padding-top: 100px;margin-right: 20vw;
}
.p3 a {text-decoration: none;color: whitesmoke;
}
.p3 a:hover{text-decoration: underline;
}
.p3 p {color: whitesmoke;font-size: 20px;margin-left: 180px;margin-top: -30px;
}
.p3 h1{font-size: 30px;
}

.p4{margin-left: 15vw;border-radius: 20px;margin-bottom: 0px;color: whitesmoke;padding-bottom: 100px;padding-top: 100px;margin-right: 20vw;
}
.p4 a {text-decoration: none;color: whitesmoke;
}
.p4 a:hover{text-decoration: underline;
}
.p4 p {color: whitesmoke;font-size: 30px;margin-left: 180px;margin-top: -30px;
}
.p4 h2{margin-left: 190px;
}

.menu{
    display: none;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.image-container img {
    margin: 10px;
    max-width: 70%; /* 設定最大寬度為螢幕寬度的70% */
    height: auto; /* 保持比例 */
    object-fit: cover;
  }



/*  */
@media screen and (max-width:768px){
    header ul{display:none}
    header h1{left:50%;transform: translateX(-50%);}
    header p{display: none;}
    header a{position: relative;left: 42%;}
    .h1 h1{margin-left: 30vw;
    }
    .h1 p {
        margin-top: 80px;
        font-size: 20px;
    }
    .h2 img{margin-left: 0vw;}
    .h2 h1{margin-left: 30vw;margin-top: -140px;
    }
    .h2 p {
    margin-left: 5vw;
    margin-right: 30vw;
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 20px;}
    .p2 h2{margin-right: 10vw;
    }
    .menu{
        display: block;
        background-color: transparent;
        color: whitesmoke;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
}
